# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [10]:
file_path = 'C:\\Users\\David Santos\\Documents\\GitHub\\lab-hypothesis-testing-1\\your-code\\Current_Employee_Names__Salaries__and_Position_Titles.csv'

chicago = pd.read_csv(file_path)

Examine the `salaries` dataset using the `head` function below.

In [11]:
print(chicago.head())

                  Name                              Job Titles  \
0    AARON,  JEFFERY M                                SERGEANT
1      AARON,  KARINA   POLICE OFFICER (ASSIGNED AS DETECTIVE)
2  AARON,  KIMBERLEI R                CHIEF CONTRACT EXPEDITER
3  ABAD JR,  VICENTE M                       CIVIL ENGINEER IV
4    ABASCAL,  REECE E             TRAFFIC CONTROL AIDE-HOURLY

         Department Full or Part-Time Salary or Hourly  Typical Hours  \
0            POLICE                 F           Salary            NaN
1            POLICE                 F           Salary            NaN
2  GENERAL SERVICES                 F           Salary            NaN
3       WATER MGMNT                 F           Salary            NaN
4              OEMC                 P           Hourly           20.0

   Annual Salary  Hourly Rate
0       101442.0          NaN
1        94122.0          NaN
2       101592.0          NaN
3       110064.0          NaN
4            NaN        19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [12]:
missing_values = chicago.isna().sum()

print(missing_values)

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [13]:
salary_hourly = chicago['Salary or Hourly'].value_counts()

print(salary_hourly)

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [14]:
department_counts = chicago['Department'].value_counts()

print(department_counts)

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [16]:
from scipy import stats 

hourly_data = chicago[chicago['Salary or Hourly'] == 'Hourly']

hourly_rate = hourly_data['Hourly Rate']
null_mean = 30  #null hypothesis: the mean hourly wage is $30/hr
alpha = 0.005 


t_statistic, p_value = stats.ttest_1samp(hourly_rate, null_mean)

#comparing 

if p_value < alpha: 
    conclusion = "Reject the null hypothesis"

else: 
    conclusion = "Fail to reject the hypothesis"


#results

print(f"T-statistic: {t_statistic}")

print(f"P_value: {p_value}")

print(f"Conclusion: {conclusion}")

T-statistic: 20.6198057854942
P_value: 4.3230240486229894e-92
Conclusion: Reject the null hypothesis

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [18]:
police_data = chicago[(chicago['Department'] == 'POLICE') & (chicago['Salary or Hourly'] == 'Salary')]

#one sample one tailed ttest 

salary_column = police_data['Annual Salary']
null_mean = 86000 #null hypo: the mean salary is $86000/year
alpha = 0.05 

#calculate the one tailed significance level 

alpha_one_tailed = alpha / 2 

t_statistic, p_value = stats.ttest_1samp(salary_column, null_mean, alternative = 'greater')

#compare 

if p_value < alpha_one_tailed:
    conclusion = "Reject the null hypothesis"
else: 
    conclusion = "Fail to reject the null hypothesis"


print(f"T-statistic: {t_statistic}")

print(f"P_value: {p_value}")

print(f"Conclusion: {conclusion}")

T-statistic: 3.081997005712994
P_value: 0.0010301701775482569
Conclusion: Reject the null hypothesis

Using the `crosstab` function, find the department that has the most hourly workers.

In [19]:
contingency = pd.crosstab(chicago['Department'], chicago ['Salary or Hourly'])

most_hourly_department = contingency['Hourly'].idxmax()

print(f"The department with the most hourly workers is: {most_hourly_department}")

The department with the most hourly workers is: STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [25]:
street_san = chicago[(chicago['Department'] == 'STREET & SAN') & (chicago['Salary or Hourly'] == 'Hourly')]


if not street_san.empty: 
    hourly_rate = street_san ['Hourly Rate']
    null_mean = 35  #mean horly wage is $35/hr
    alpha =  0.05 

    alpha_one_tailed = alpha / 2 

    t_statistic, p_value = stats.ttest_1samp(hourly_rate, null_mean, alternative = 'less')

    if p_value < alpha_one_tailed: 
        conclusion = "Reject"
    else: 
        conclusion = "Fail to reject"
# results
    print(f"T-statistic: {t_statistic}")
    print(f"P-value: {p_value}")
    print(f"Conclusion: {conclusion}")
    
else: 
    print("No hourly workers in streets & san")

No hourly workers in streets & san

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [26]:
hourly_data = chicago[chicago['Salary or Hourly'] == 'Hourly']


confidence_level = 0.95 
degree = len(hourly_data) - 1
sample_mean = hourly_data['Hourly Rate'].mean()
standard_error = stats.sem(hourly_data['Hourly Rate'] )

confidence_interval = stats.t.interval(confidence_level, degree, sample_mean, standard_error )

print(f"95% confidence interval for the mean hourly wage: {confidence_interval}")

95% confidence interval for the mean hourly wage: (32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [28]:
police = chicago[(chicago['Department'] == 'POLICE') & (chicago['Salary or Hourly'] == 'Salary')]

confidence_level = 0.95 
degree = len(police) - 1 
sample_mean = police['Annual Salary'].mean() 
standard_error = stats.sem(police['Annual Salary'])

confidence_interval = stats.t.interval(confidence_level, degree, sample_mean, standard_error)


print(f" 95% interval for the mean annual salary in the police department {confidence_interval}")

 95% interval for the mean annual salary in the police department (86177.05631531784, 86795.77269094894)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [31]:
import statsmodels.api as sm

num_hourly = chicago[chicago['Salary or Hourly'] == 'Hourly'].shape[0]
total_workers = chicago.shape[0]

expected_proportion = 0.25 

z_statistic, p_value = sm.stats.proportions_ztest(num_hourly, total_workers,expected_proportion, alternative = 'two-sided')

#results

print(f"z-statistics: {z_statistic}")
print(f"p-value: {p_value}")

aplha = 0.05 

if p_value < alpha: 
    conclusion = "Reject null hypothesis"
else:
    conclusion = "Fail to reject numm hypothesis"

print(f"Conclusion: {conclusion}")

z-statistics: -3.5099964213703005
p-value: 0.0004481127249057967
Conclusion: Reject null hypothesis