# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [5]:
# Your code here:
salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')
display(salaries.head())
display(salaries.info())

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

None

Examine the `salaries` dataset using the `head` function below.

In [ ]:
# Your code here:

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [7]:
# Your code here:

salaries.isna().value_counts()

Name   Job Titles  Department  Full or Part-Time  Salary or Hourly  Typical Hours  Annual Salary  Hourly Rate
False  False       False       False              False             True           False          True           25161
                                                                    False          True           False           8022
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [14]:
# Your code here:
(salaries['Salary or Hourly']=='Salary').value_counts()

True     25161
False     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [16]:
# Your code here:

salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [17]:
# Your code here:

import scipy.stats as st

In [21]:
hourly_rate = salaries['Hourly Rate'][salaries['Hourly Rate'].notna()]

In [22]:
st.ttest_1samp(hourly_rate, 30)
# the p-value is extremly lower than 0.05, which means that the null hypothesis of hourly rate being 30 can be rejected

TtestResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92, df=8021)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [27]:
# Your code here:
police_salaries = salaries[salaries['Department']=='POLICE']
police_salaries['Annual Salary'].isna().value_counts()

False    13404
True        10
Name: Annual Salary, dtype: int64

In [28]:
#Extract all the none-null values
police_annual = police_salaries['Annual Salary'][police_salaries['Annual Salary'].notna()]
st.ttest_1samp(police_annual, 86000, alternative='greater')
#although the statistic is positive, the p-value is lower than 0.05, which means that the null hypothesis of salaries in the plice force this year being greater than 86000 is rejected under 95% confidence intercal

TtestResult(statistic=3.081997005712994, pvalue=0.0010301701775482569, df=13403)

Using the `crosstab` function, find the department that has the most hourly workers.

In [48]:
# Your code here:
result = pd.crosstab(salaries['Department'], salaries['Hourly Rate'].notna())
result = result.sort_values(by=True, ascending=False).reset_index()
result

Hourly Rate             Department  False  True
0                    STREETS & SAN    336  1862
1                      WATER MGMNT    366  1513
2                             OEMC    829  1273
3                         AVIATION    547  1082
4                 GENERAL SERVICES    215   765
5                       TRANSPORTN    415   725
6                   PUBLIC LIBRARY    716   299
7                 FAMILY & SUPPORT    328   287
8                     CITY COUNCIL    347    64
9                          FINANCE    516    44
10                             LAW    367    40
11                   ANIMAL CONTRL     62    19
12                          POLICE  13404    10
13                  MAYOR'S OFFICE     77     8
14                BUSINESS AFFAIRS    164     7
15                CULTURAL AFFAIRS     58     7
16           COMMUNITY DEVELOPMENT    203     4
17                 HUMAN RESOURCES     75     4
18                          HEALTH    485     3
19                     PROCUREMENT     90     2
20                            FIRE   4639     2
21                   BUDGET & MGMT     44     2
22                 HUMAN RELATIONS     16     0
23                   INSPECTOR GEN     87     0
24                            DoIT     99     0
25               LICENSE APPL COMM      1     0
26                    DISABILITIES     28     0
27                            COPA    116     0
28                      CITY CLERK     84     0
29                    POLICE BOARD      2     0
30                       BUILDINGS    269     0
31                 BOARD OF ETHICS      8     0
32               BOARD OF ELECTION    107     0
33                       TREASURER     22     0
34                    ADMIN HEARNG     39     0

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [62]:
dep_name = result.loc[0:0]['Department']
dep_name

0    STREETS & SAN
Name: Department, dtype: object

In [63]:
# Your code here:
# the department with the most hourly workers is STREETS & SAN
salaries_streets = salaries[salaries['Department']== 'STREETS & SAN']
hourly_streets = salaries_streets['Hourly Rate'][salaries_streets['Hourly Rate'].notna()]
st.ttest_1samp(hourly_streets, 35, alternative='less')
#the hourly rate mean is greater than 35, and p-value is also significantly lower than 0.05, so the hypothesis is rejected

TtestResult(statistic=-9.567447887848152, pvalue=1.6689265282353859e-21, df=1861)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [64]:
# Your code here:

# Compute mean and standard deviation
sample_mean = np.mean(hourly_rate)
sample_std = np.std(hourly_rate, ddof=1)  # ddof=1 for sample standard deviation

# Set the confidence level and degrees of freedom
confidence_level = 0.95
degrees_of_freedom = len(hourly_rate) - 1

# Compute the confidence interval using t.interval
confidence_interval = st.t.interval(confidence_level, degrees_of_freedom, loc=sample_mean, scale=sample_std/np.sqrt(len(hourly_rate)))

print(f"Confidence Interval: {confidence_interval}")

Confidence Interval: (32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [65]:
# Your code here:
sample_mean = np.mean(police_annual)
sample_std = np.std(police_annual, ddof=1)  # ddof=1 for sample standard deviation

# Set the confidence level and degrees of freedom
confidence_level = 0.95
degrees_of_freedom = len(police_annual) - 1

# Compute the confidence interval using t.interval
confidence_interval = st.t.interval(confidence_level, degrees_of_freedom, loc=sample_mean, scale=sample_std/np.sqrt(len(police_annual)))

print(f"Confidence Interval: {confidence_interval}")

Confidence Interval: (86177.05631531785, 86795.77269094893)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [66]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

hourly_workers_observed = len(hourly_rate)
total_workers = len(salaries) 
# Define the null hypothesis proportion (25% in this case)
null_hypothesis_proportion = 0.25

# Perform the proportions z-test
stat, p_value = proportions_ztest(hourly_workers_observed, total_workers, value=null_hypothesis_proportion)

print(f"Z-statistic: {stat}")
print(f"P-value: {p_value}")

# Check the hypothesis at the 95% confidence level
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: The number of hourly workers is significantly different from 25%.")
else:
    print("Fail to reject the null hypothesis: The number of hourly workers is not significantly different from 25%.")

Z-statistic: -3.5099964213703005
P-value: 0.0004481127249057967
Reject the null hypothesis: The number of hourly workers is significantly different from 25%.