# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [4]:
# Your code here:

db = pd.read_csv("Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [5]:
# Your code here:

db.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [6]:
# Your code here:

nan_values_db = db.isnull().sum()

nan_values_db

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [7]:
# Your code here:

hourly_vs_salaries_employees = db['Salary or Hourly'].value_counts()

hourly_vs_salaries_employees

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [9]:
# Your code here:

department_counts = db.groupby('Department').size().reset_index(name='Employee Count')

department_counts

               Department  Employee Count
0            ADMIN HEARNG              39
1           ANIMAL CONTRL              81
2                AVIATION            1629
3       BOARD OF ELECTION             107
4         BOARD OF ETHICS               8
5           BUDGET & MGMT              46
6               BUILDINGS             269
7        BUSINESS AFFAIRS             171
8              CITY CLERK              84
9            CITY COUNCIL             411
10  COMMUNITY DEVELOPMENT             207
11                   COPA             116
12       CULTURAL AFFAIRS              65
13           DISABILITIES              28
14                   DoIT              99
15       FAMILY & SUPPORT             615
16                FINANCE             560
17                   FIRE            4641
18       GENERAL SERVICES             980
19                 HEALTH             488
20        HUMAN RELATIONS              16
21        HUMAN RESOURCES              79
22          INSPECTOR GEN              87
23                    LAW             407
24      LICENSE APPL COMM               1
25         MAYOR'S OFFICE              85
26                   OEMC            2102
27                 POLICE           13414
28           POLICE BOARD               2
29            PROCUREMENT              92
30         PUBLIC LIBRARY            1015
31          STREETS & SAN            2198
32             TRANSPORTN            1140
33              TREASURER              22
34            WATER MGMNT            1879

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [19]:
# Your code here:

import scipy.stats as st
from scipy.stats import ttest_1samp

hourly_wages = db['Hourly Rate'].dropna()  # Drop NaN values

# Perform one-sample t-test
t_statistic, p_value = ttest_1samp(hourly_wages, 30)

# Checking the results
alpha = 0.05  # 95% confidence level
print("t-statistic:", t_statistic)
print("p-value:", p_value)

if p_value < alpha:
    print("Reject the null hypothesis: The hourly wage is significantly different from $30/hr.")
else:
    print("Fail to reject the null hypothesis: There is not enough evidence to say the hourly wage is significantly different from $30/hr.")

t-statistic: 20.6198057854942
p-value: 4.3230240486229894e-92
Reject the null hypothesis: The hourly wage is significantly different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [13]:
# Your code here:

# Assuming 'Annual Salary' is the column representing annual salaries for salaried employees in the police force
police_salaries = db[db['Department'] == 'POLICE']['Annual Salary'].dropna()

# Perform one-sided (right-tailed) t-test
t_statistic, p_value = ttest_1samp(police_salaries, 86000)

# Checking the results
alpha = 0.05  # 95% confidence level

# Since it's a one-sided test, we compare p-value/2 with alpha
if p_value/2 < alpha and t_statistic > 0:
    print("Reject the null hypothesis: Salaries in the police force are higher than $86,000/year.")
else:
    print("Fail to reject the null hypothesis: There is not enough evidence to say salaries in the police force are higher than $86,000/year.")

Reject the null hypothesis: Salaries in the police force are higher than $86,000/year.

Using the `crosstab` function, find the department that has the most hourly workers.

In [15]:
# Your code here:

cross_tab = pd.crosstab(db['Department'], db['Salary or Hourly'])
cross_tab = cross_tab.sort_values(by='Hourly', ascending=False)[['Hourly']][:1]

cross_tab

Salary or Hourly  Hourly
Department
STREETS & SAN       1862

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [20]:
# Your code here:

street_san_workers = db[(db['Department'] == 'STREETS & SAN') & (db['Salary or Hourly'] == 'Hourly')]
street_san_workers_list = list(street_san_workers['Hourly Rate'])

st.ttest_1samp(street_san_workers_list,35, alternative='less')

# The p-value that we got is low, so the salaries are less than 35.

TtestResult(statistic=-9.567447887848152, pvalue=1.6689265282353859e-21, df=1861)

In [21]:
hourly_wages_most_hourly_workers = db[db['Department'] == 'POLICE']['Hourly Rate'].dropna()

# Perform one-sided (left-tailed) t-test
t_statistic, p_value = ttest_1samp(hourly_wages_most_hourly_workers, 35)

# Checking the results
alpha = 0.05  # 95% confidence level

# Since it's a one-sided test, we compare p-value/2 with alpha
if p_value/2 < alpha and t_statistic < 0:
    print("Reject the null hypothesis: Hourly wage is less than $35/hour in the department with the most hourly workers.")
else:
    print("Fail to reject the null hypothesis: There is not enough evidence to say the hourly wage is less than $35/hour in the department with the most hourly workers.")

Reject the null hypothesis: Hourly wage is less than $35/hour in the department with the most hourly workers.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [22]:
# Your code here:
from scipy.stats import t, sem

hourly_wages = db['Hourly Rate'].dropna()

# Compute the mean and standard error of the mean
mean_hourly_wage = np.mean(hourly_wages)
standard_error = sem(hourly_wages)

# Specify the confidence level and degrees of freedom
confidence_level = 0.95
degrees_of_freedom = len(hourly_wages) - 1

# Compute the confidence interval
confidence_interval = t.interval(confidence_level, degrees_of_freedom, mean_hourly_wage, standard_error)

print(f"95% Confidence Interval for Mean Hourly Wage: {confidence_interval}")

95% Confidence Interval for Mean Hourly Wage: (32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [24]:
# Your code here:

salaries_police = db[(db['Department'] == 'POLICE') & (db['Salary or Hourly'] == 'Salary')]['Annual Salary'].dropna()

mean_salary_police = np.mean(salaries_police)
standard_error_police = sem(salaries_police)

confidence_level = 0.95
degrees_of_freedom = len(salaries_police) - 1

confidence_interval_police = t.interval(confidence_level, degrees_of_freedom, mean_salary_police, standard_error_police)

print(f"95% Confidence Interval for Mean Annual Salary in the Police Department: {confidence_interval_police}")

95% Confidence Interval for Mean Annual Salary in the Police Department: (86177.05631531784, 86795.77269094894)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [25]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

hourly_workers = db[db['Salary or Hourly'] == 'Hourly']

# Number of successes (hourly workers) and total observations
successes = len(hourly_workers)
total_observations = len(db)

# The proportion to test against (25%)
proportion_to_test = 0.25

# Perform proportions z-test
z_stat, p_value = proportions_ztest(successes, total_observations, proportion_to_test)

# Checking the results
alpha = 0.05  # 95% confidence level

if p_value < alpha:
    print("Reject the null hypothesis: The proportion of hourly workers is significantly different from 25%.")
else:
    print("Fail to reject the null hypothesis: There is not enough evidence to say the proportion of hourly workers is significantly different from 25%.")

Reject the null hypothesis: The proportion of hourly workers is significantly different from 25%.