# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:
data = pd.read_csv(r"C:\Users\Vladimir\Desktop\Ironhack_labs\Week13\lab-hypothesis-testing-1\your-code\Current_Employee_Names__Salaries__and_Position_Titles.csv")
data.head(20)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
8,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,103350.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
11,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
12,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
13,"ABDELLATIF, AREF R",FIREFIGHTER (PER ARBITRATORS AWARD)-PARAMEDIC,FIRE,F,Salary,NaN,102228.0,NaN
14,"ABDELMAJEID, AZIZ",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
15,"ABDOLLAHZADEH, ALI",FIREFIGHTER/PARAMEDIC,FIRE,F,Salary,NaN,91272.0,NaN
16,"ABDUL-KARIM, MUHAMMAD A",ENGINEERING TECHNICIAN VI,WATER MGMNT,F,Salary,NaN,111492.0,NaN
17,"ABDULLAH, DANIEL N",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,95484.0,NaN
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
19,"ABDULLAH, RASHAD",ELECTRICAL MECHANIC (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.10

Examine the `salaries` dataset using the `head` function below.

In [3]:
data.head(15)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
8,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,103350.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
11,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
12,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
13,"ABDELLATIF, AREF R",FIREFIGHTER (PER ARBITRATORS AWARD)-PARAMEDIC,FIRE,F,Salary,NaN,102228.0,NaN
14,"ABDELMAJEID, AZIZ",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
print(data.isnull().sum())

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [6]:
data['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [15]:
department_counts = {}

for department in data["Department"]:
    if department in department_counts:
        department_counts[department] += 1
    else:
        department_counts[department] = 1
        
for department, count in department_counts.items():
    print(f"Department: {department}, Count: {count}")

Department: POLICE, Count: 13414
Department: GENERAL SERVICES, Count: 980
Department: WATER MGMNT, Count: 1879
Department: OEMC, Count: 2102
Department: CITY COUNCIL, Count: 411
Department: AVIATION, Count: 1629
Department: STREETS & SAN, Count: 2198
Department: FIRE, Count: 4641
Department: FAMILY & SUPPORT, Count: 615
Department: PUBLIC LIBRARY, Count: 1015
Department: TRANSPORTN, Count: 1140
Department: MAYOR'S OFFICE, Count: 85
Department: HEALTH, Count: 488
Department: BUSINESS AFFAIRS, Count: 171
Department: LAW, Count: 407
Department: FINANCE, Count: 560
Department: CULTURAL AFFAIRS, Count: 65
Department: COMMUNITY DEVELOPMENT, Count: 207
Department: PROCUREMENT, Count: 92
Department: BUILDINGS, Count: 269
Department: ANIMAL CONTRL, Count: 81
Department: CITY CLERK, Count: 84
Department: BOARD OF ELECTION, Count: 107
Department: DISABILITIES, Count: 28
Department: HUMAN RESOURCES, Count: 79
Department: DoIT, Count: 99
Department: BUDGET & MGMT, Count: 46
Department: TREASURER, Count: 22
Department: INSPECTOR GEN, Count: 87
Department: HUMAN RELATIONS, Count: 16
Department: COPA, Count: 116
Department: BOARD OF ETHICS, Count: 8
Department: POLICE BOARD, Count: 2
Department: ADMIN HEARNG, Count: 39
Department: LICENSE APPL COMM, Count: 1

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [16]:
import numpy as np
from scipy import stats

# Sample data representing hourly rates
hourly_rates = data["Hourly Rate"]

# Define the null hypothesis (H0) that the mean hourly rate is $30/hr
null_hypothesis_mean = 30.0

# Perform a one-sample t-test for a 95% two-sided confidence interval
t_statistic, p_value = stats.ttest_1samp(hourly_rates, null_hypothesis_mean)

# Set the significance level (alpha)
alpha = 0.05

# Check if the p-value is less than alpha to determine significance
if p_value < alpha:
    print(f"The p-value ({p_value:.4f}) is less than alpha ({alpha}), so we reject the null hypothesis.")
    print("The hourly wage of hourly workers is significantly different from $30/hr.")
else:
    print(f"The p-value ({p_value:.4f}) is greater than alpha ({alpha}), so we fail to reject the null hypothesis.")
    print("There is no significant difference in the hourly wage of hourly workers from $30/hr.")

The p-value (nan) is greater than alpha (0.05), so we fail to reject the null hypothesis.
There is no significant difference in the hourly wage of hourly workers from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [17]:
import numpy as np
from scipy import stats

# Sample data representing annual salaries
annual_salaries = data["Annual Salary"]

# Define the null hypothesis (H0) that the mean annual salary is $86,000/year
null_hypothesis_mean = 86000.0

# Perform a one-sample t-test for a 95% one-sided (greater) confidence interval
t_statistic, p_value = stats.ttest_1samp(annual_salaries, null_hypothesis_mean)

# Since this is a one-tailed test (greater than), we need to divide the p-value by 2
p_value /= 2

# Set the significance level (alpha)
alpha = 0.05

# Check if the p-value is less than alpha to determine significance
if p_value < alpha and t_statistic > 0:
    print(f"The one-tailed p-value ({p_value:.4f}) is less than alpha ({alpha}), and the test statistic ({t_statistic:.4f}) is positive.")
    print("We reject the null hypothesis.")
    print("Salaries in the police force are higher than last year's mean of $86,000/year.")
else:
    print(f"The one-tailed p-value ({p_value:.4f}) is greater than alpha ({alpha}) or the test statistic ({t_statistic:.4f}) is not positive.")
    print("We fail to reject the null hypothesis.")
    print("There is no evidence that salaries in the police force are higher than last year's mean of $86,000/year.")

The one-tailed p-value (nan) is greater than alpha (0.05) or the test statistic (nan) is not positive.
We fail to reject the null hypothesis.
There is no evidence that salaries in the police force are higher than last year's mean of $86,000/year.

Using the `crosstab` function, find the department that has the most hourly workers.

In [18]:
import pandas as pd

cross_tab = pd.crosstab(data["Department"], data["Salary or Hourly"])

# Extract the count of hourly workers
hourly_counts = cross_tab["Hourly"]

# Find the department with the most hourly workers
department_with_most_hourly_workers = hourly_counts.idxmax()
max_hourly_workers = hourly_counts.max()

print(f"The department with the most hourly workers is '{department_with_most_hourly_workers}' with {max_hourly_workers} workers.")

The department with the most hourly workers is 'STREETS & SAN' with 1862 workers.

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [19]:
import numpy as np
from scipy import stats

department_with_most_hourly_workers = 'STREETS & SAN'  # Replace with the actual department name
hourly_rates_department = data[data["Department"] == department_with_most_hourly_workers]["Hourly Rate"]

# Define the null hypothesis (H0) that the mean hourly rate is $35/hour
null_hypothesis_mean = 35.0

# Perform a one-sample t-test for a 95% one-sided (less than) confidence interval
t_statistic, p_value = stats.ttest_1samp(hourly_rates_department, null_hypothesis_mean)

# Since this is a one-tailed test (less than), we need to divide the p-value by 2
p_value /= 2

# Set the significance level (alpha)
alpha = 0.05

# Check if the p-value is less than alpha to determine significance
if p_value < alpha and t_statistic < 0:
    print(f"The one-tailed p-value ({p_value:.4f}) is less than alpha ({alpha}), and the test statistic ({t_statistic:.4f}) is negative.")
    print("We reject the null hypothesis.")
    print(f"The workers from the department with the most hourly workers have an hourly wage less than ${null_hypothesis_mean}/hour.")
else:
    print(f"The one-tailed p-value ({p_value:.4f}) is greater than alpha ({alpha}) or the test statistic ({t_statistic:.4f}) is not negative.")
    print("We fail to reject the null hypothesis.")
    print(f"There is no evidence that the workers from the department with the most hourly workers have an hourly wage less than ${null_hypothesis_mean}/hour.")

The one-tailed p-value (nan) is greater than alpha (0.05) or the test statistic (nan) is not negative.
We fail to reject the null hypothesis.
There is no evidence that the workers from the department with the most hourly workers have an hourly wage less than $35.0/hour.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [20]:
import numpy as np
from scipy import stats

# Sample data representing hourly rates
hourly_rates = data["Hourly Rate"]

# Calculate the sample mean and standard error of the mean
sample_mean = np.mean(hourly_rates)
standard_error = stats.sem(hourly_rates)

# Set the confidence level (e.g., 95%)
confidence_level = 0.95

# Calculate the degrees of freedom
degrees_of_freedom = len(hourly_rates) - 1

# Compute the confidence interval using t.interval
confidence_interval = stats.t.interval(confidence_level, degrees_of_freedom, loc=sample_mean, scale=standard_error)

# Print the confidence interval
print(f"95% Confidence Interval for Mean Hourly Wage: ({confidence_interval[0]:.2f}, {confidence_interval[1]:.2f})")

95% Confidence Interval for Mean Hourly Wage: (nan, nan)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [21]:
import numpy as np
from scipy import stats

# Assuming you have a DataFrame named 'data' with columns 'Department' and 'Annual Salary'
# Extract the annual salaries for salaried employees in the police department
police_salaries = data[(data["Department"] == "POLICE") & (data["Salary or Hourly"] == "Salary")]["Annual Salary"]

# Calculate the sample mean and standard error of the mean
sample_mean = np.mean(police_salaries)
standard_error = stats.sem(police_salaries)

# Set the confidence level (e.g., 95%)
confidence_level = 0.95

# Calculate the degrees of freedom
degrees_of_freedom = len(police_salaries) - 1

# Compute the confidence interval using t.interval
confidence_interval = stats.t.interval(confidence_level, degrees_of_freedom, loc=sample_mean, scale=standard_error)

# Print the confidence interval
print(f"95% Confidence Interval for Mean Annual Salary in the Police Department: (${confidence_interval[0]:.2f}, ${confidence_interval[1]:.2f})")

95% Confidence Interval for Mean Annual Salary in the Police Department: ($86177.06, $86795.77)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: