# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as st

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
salaries.head(10)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
8,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,103350.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# H0 = The hourly wage workers is equal to $30/hr
# H1 = The hourly wage workers is different from $30/hr

# I take 10% of the Hourly Wage employees as my sample for this hypothesis testing
n = int(0.1*8022)

In [8]:
hourly_sample = salaries[salaries['Salary or Hourly']=='Hourly']['Hourly Rate'].sample(n)

st.ttest_1samp(hourly_sample,30)

Ttest_1sampResult(statistic=6.662660767816798, pvalue=4.9985105297342445e-11)

In [9]:
# Conclusion

# The pvalue is lower than 5% so we can reject the null hypothesis.
# The hourly wage of all hourly workers is significantly different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [10]:
# H0 = The salaries of Chicago policemen and policewomen are lower or equal to $86000/year
# H1 = The salaries of Chicago policemen and policewomen are higher than $86000/year

n_pol = int(13414*0.1)

In [11]:
salaries[salaries['Department']=='POLICE']['Annual Salary'].isnull().sum()

10

In [14]:
salaries[salaries['Department']=='POLICE']['Annual Salary'].mean()

86486.41450313339

In [12]:
police_sample = salaries[(salaries['Department']=='POLICE')
                         & (salaries['Annual Salary'].isnull()==False)]['Annual Salary'].sample(n_pol)

In [44]:
st.ttest_1samp(police_sample,86000,alternative='greater')

Ttest_1sampResult(statistic=2.0345104217833865, pvalue=0.021048358664011106)

In [15]:
# Conclusion

# We can reject the null hypothesis. Therefore, salaries of Chicago policemen and policewomen...
# ...are higher than $86000/year

Using the `crosstab` function, find the department that has the most hourly workers.

In [16]:
hourly = pd.crosstab(salaries['Department'],salaries['Salary or Hourly'])

In [17]:
hourly.sort_values(by=['Hourly'],ascending=False).head(3) 

# Streets & San is the department with the most hourly workers.

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336
WATER MGMNT         1513     366
OEMC                1273     829

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [18]:
# H0 = Streets & San workers have an hourly wage that is more or equal to $35/hour
# H1 = Streets & San workers have an hourly wage that is less than $35/hour

n_streets = int(1862*0.1)

In [20]:
salaries[salaries['Department']=='STREETS & SAN']['Hourly Rate'].mean()

33.728378088076845

In [36]:
streets_sample = salaries[(salaries['Department']=='STREETS & SAN') 
                          & (salaries['Salary or Hourly']=='Hourly')]['Hourly Rate'].sample(n_streets)

In [46]:
st.ttest_1samp(streets_sample,35.00,alternative='less')

Ttest_1sampResult(statistic=-2.01765436286596, pvalue=0.02253609411547751)

In [ ]:
# Conclusion

# The pvalue is less than 0.05 so we have to reject the null hypothesis.
# Streets & San have an hourly wage that is less than $35/hour.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [56]:
hourly_sample = salaries.loc[(salaries['Hourly Rate'].isnull() == False), 'Hourly Rate']
mean = np.mean(hourly_sample)
error = st.sem(hourly_sample)

st.t.interval(0.95,loc=mean,scale=error,df=(len(hourly_sample))-1)

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [58]:
salaried_sample = salaries.loc[(salaries['Hourly Rate'].isnull() == True), 'Annual Salary']
mean = np.mean(salaried_sample)
error = st.sem(salaried_sample)

st.t.interval(0.95,loc=mean,scale=error,df=(len(salaried_sample))-1)

(86526.99656774197, 87047.0030125611)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [26]:
# To do later!