# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import pandas as pd
import numpy as np
import scipy.stats as st

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:

employees = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:

employees.head(20)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
8,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,103350.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
11,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
12,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
13,"ABDELLATIF, AREF R",FIREFIGHTER (PER ARBITRATORS AWARD)-PARAMEDIC,FIRE,F,Salary,NaN,102228.0,NaN
14,"ABDELMAJEID, AZIZ",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
15,"ABDOLLAHZADEH, ALI",FIREFIGHTER/PARAMEDIC,FIRE,F,Salary,NaN,91272.0,NaN
16,"ABDUL-KARIM, MUHAMMAD A",ENGINEERING TECHNICIAN VI,WATER MGMNT,F,Salary,NaN,111492.0,NaN
17,"ABDULLAH, DANIEL N",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,95484.0,NaN
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
19,"ABDULLAH, RASHAD",ELECTRICAL MECHANIC (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.10

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:

employees.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:

print(employees['Salary or Hourly'].value_counts())

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:

print(employees['Department'].value_counts())

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [22]:
# Getting samples from dataset
n = 500
print('samples: ',n)
hourly_sample = employees[employees['Salary or Hourly']=='Hourly']['Hourly Rate'].sample(n)

# Checking mean and std dev
print("hourly mean: ", hourly_sample.mean())
print("hourly std: ", hourly_sample.std())

# check if  hourly wage of all hourly workers is significantly different from $30/hr 
# requiring a 5% significance (95% confidence level)
# HYPOTHESIS -> H0: rate=30 $/Hr - H1: rate != 30 $/Hr
print('Two Sided result: ',st.ttest_1samp(hourly_sample,30))

samples:  500
hourly mean:  33.65994000000008
hourly std:  11.975997010905196
Two Sided result:  Ttest_1sampResult(statistic=6.8335643588742006, pvalue=2.4223426504499002e-11)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [8]:
# Getting samples from dataset
n = 700
print('samples: ',n)
police_sample = employees[employees['Department']=='POLICE']['Annual Salary'].sample(n)

# Checking mean and std dev
print("police mean: ", police_sample.mean())
print("police std: ", police_sample.std())

# check if  hourly wage of all hourly workers is significantly different from $30/hr 
# requiring a 5% significance (95% confidence level)
# HYPOTHESIS -> H0: rate>=86000 $/Yr - H1: rate<86000 $/Yr
print('One tailed result: ', st.ttest_1samp(police_sample,86000,alternative='less'))

samples:  700
police mean:  87521.80285714286
police std:  19288.484922038027
One tailed result:  Ttest_1sampResult(statistic=2.087417399936529, pvalue=0.9813939949222703)

Using the `crosstab` function, find the department that has the most hourly workers.

In [9]:
# Your code here:

crosstab = pd.crosstab(employees['Department'], employees['Salary or Hourly'], rownames=['Department'], colnames=['Salary or Hourly'])
crosstab.sort_values(by='Hourly', ascending=False)

Salary or Hourly       Hourly  Salary
Department
STREETS & SAN            1862     336
WATER MGMNT              1513     366
OEMC                     1273     829
AVIATION                 1082     547
GENERAL SERVICES          765     215
TRANSPORTN                725     415
PUBLIC LIBRARY            299     716
FAMILY & SUPPORT          287     328
CITY COUNCIL               64     347
FINANCE                    44     516
LAW                        40     367
ANIMAL CONTRL              19      62
POLICE                     10   13404
MAYOR'S OFFICE              8      77
BUSINESS AFFAIRS            7     164
CULTURAL AFFAIRS            7      58
COMMUNITY DEVELOPMENT       4     203
HUMAN RESOURCES             4      75
HEALTH                      3     485
PROCUREMENT                 2      90
FIRE                        2    4639
BUDGET & MGMT               2      44
HUMAN RELATIONS             0      16
INSPECTOR GEN               0      87
DoIT                        0      99
LICENSE APPL COMM           0       1
DISABILITIES                0      28
COPA                        0     116
CITY CLERK                  0      84
POLICE BOARD                0       2
BUILDINGS                   0     269
BOARD OF ETHICS             0       8
BOARD OF ELECTION           0     107
TREASURER                   0      22
ADMIN HEARNG                0      39

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [50]:
# Getting samples from dataset
n = 200
print('samples: ',n)
hourly_workers_sample = employees[employees['Department']=='STREETS & SAN']['Hourly Rate'].sample(n)
hourly_workers_sample = hourly_workers_sample.fillna(hourly_workers_sample.mean())

# Checking mean and std dev
print("STREETS & SAN mean: ", hourly_workers_sample.mean())
print("STREETS & SAN std: ", hourly_workers_sample.std())

# check if  hourly wage of is less than $35/hr, with 5% significance (95% confidence level)
# HYPOTHESIS -> H0: rate=<35$/Hr - H1: rate>35$/Hr
print('One tailed result: ', st.ttest_1samp(hourly_workers_sample,35,alternative='less'))

samples:  200
STREETS & SAN mean:  34.11583333333336
STREETS & SAN std:  5.1962674482396345
One tailed result:  Ttest_1sampResult(statistic=-2.4063435992344933, pvalue=0.008513666723855007)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [41]:
# Your code here:

hourly_workers = employees[employees['Salary or Hourly']=='Hourly']['Hourly Rate']
conf_lev = 0.95
n = len(hourly_workers)

print('Confidence Level: ',conf_lev)
print('Number of rows: ',n)
print('Mean: ',hourly_workers.mean())
print('Confidence Interval: ', st.t.interval(conf_lev, n-1, loc=hourly_workers.mean(), scale=st.sem(hourly_workers)))

Confidence Level:  0.95
Number of rows:  8022
Mean:  32.78855771628128
Confidence Interval:  (32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [62]:
# Your code here:

police_workers = employees[employees['Department']=='POLICE']['Annual Salary']
police_workers = police_workers.fillna(police_workers.mean())
conf_lev = 0.95
n = len(police_workers)

print('Confidence Level: ',conf_lev)
print('Number of rows: ',n)
print('Mean: ',police_workers.mean())
print('Confidence Interval: ', st.t.interval(conf_lev, n-1, loc=police_workers.mean(), scale=st.sem(police_workers)))

Confidence Level:  0.95
Number of rows:  13414
Mean:  86486.41450313339
Confidence Interval:  (86177.28696809872, 86795.54203816806)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [70]:
# Your code here:

import statsmodels.stats.proportion as sm

hourly_workers = employees[employees['Salary or Hourly']=='Hourly']['Department'].count()

count = hourly_workers*0.25
nobs = hourly_workers
value = .05
pval = sm.proportions_ztest(count, nobs, value)
pval

(41.368587116313265, 0.0)