# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [10]:
# Your code here:
file = ('Current_Employee_Names__Salaries__and_Position_Titles.csv')
salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [11]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [15]:
# Your code here:

missing_values = salaries.isna().sum()
print(missing_values)

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [23]:
# Your code here:

hourly_count = len(salaries[salaries['Salary or Hourly'] == 'Hourly'])
print("hourly employees: ", hourly_count)

salary_count = len(salaries[salaries['Salary or Hourly'] == 'Salary'])
print("salaried employees: ",salary_count)

hourly employees:  8022
salaried employees:  25161

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [24]:
# Your code here:

departments = salaries['Department'].unique()
print(departments)

['POLICE' 'GENERAL SERVICES' 'WATER MGMNT' 'OEMC' 'CITY COUNCIL'
 'AVIATION' 'STREETS & SAN' 'FIRE' 'FAMILY & SUPPORT' 'PUBLIC LIBRARY'
 'TRANSPORTN' "MAYOR'S OFFICE" 'HEALTH' 'BUSINESS AFFAIRS' 'LAW' 'FINANCE'
 'CULTURAL AFFAIRS' 'COMMUNITY DEVELOPMENT' 'PROCUREMENT' 'BUILDINGS'
 'ANIMAL CONTRL' 'CITY CLERK' 'BOARD OF ELECTION' 'DISABILITIES'
 'HUMAN RESOURCES' 'DoIT' 'BUDGET & MGMT' 'TREASURER' 'INSPECTOR GEN'
 'HUMAN RELATIONS' 'COPA' 'BOARD OF ETHICS' 'POLICE BOARD' 'ADMIN HEARNG'
 'LICENSE APPL COMM']

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [34]:
# Your code here:

from scipy.stats import ttest_1samp

hourly_wages = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate'].dropna()
average_hourly_rate = 30

# Perform one-sample t-test
t_statistic, p_value = ttest_1samp(hourly_wages,average_hourly_rate)
print("t-statistic:", t_statistic)
print("p-value:", p_value)

# Check the significance at 95% confidence level
alpha = 0.05
if p_value < alpha / 2:
    print("Reject the null hypothesis: The mean hourly wage is significantly different from $30/hr.")
else:
    print("Fail to reject the null hypothesis: The mean hourly wage is not significantly different from $30/hr.")

t-statistic: 20.6198057854942
p-value: 4.3230240486229894e-92
Reject the null hypothesis: The mean hourly wage is significantly different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [39]:
# Your code here:


police_salaries = salaries[(salaries['Department'] == 'POLICE') & (salaries['Salary or Hourly'] == 'Salary')]['Annual Salary'].dropna()
average_police_salaries = 86000

t_statistic, p_value = ttest_1samp(police_salaries,average_police_salaries)

print("t-statistic:", t_statistic)
print("p-value:", p_value)

#Check the significance at 95% confidence level
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: Police salaries are significantly higher than $86,000/year.")
else:
    print("Fail to reject the null hypothesis: Police salaries are not significantly higher than $86,000/year.")

t-statistic: 3.081997005712994
p-value: 0.0020603403550965137
Reject the null hypothesis: Police salaries are significantly higher than $86,000/year.

Using the `crosstab` function, find the department that has the most hourly workers.

In [40]:
# Your code here:


crosstab_table = pd.crosstab(salaries['Department'], salaries['Salary or Hourly'])
hourly_counts = crosstab_table['Hourly']
department_most_hourly = hourly_counts.idxmax()


print("Department with the most hourly workers:", department_most_hourly)

Department with the most hourly workers: STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [45]:
# Your code here:
streets_san_wages = salaries[(salaries['Department'] ==  'STREETS & SAN') & (salaries['Salary or Hourly'] == 'Hourly')]['Hourly Rate'].dropna()
average_wages = 35

t_statistic, p_value = ttest_1samp(streets_san_wages, average_wages)

print("t-statistic:", t_statistic)
print("p-value:", p_value)

# Check the significance at 95% confidence level
alpha = 0.05
if p_value < alpha:
    print(f"Reject the null hypothesis: Hourly wage is significantly less than $35/hour in the {department_most_hourly} department.")
else:
    print(f"Fail to reject the null hypothesis: Hourly wage is not significantly less than $35/hour in the {department_most_hourly} department.")

t-statistic: -9.567447887848152
p-value: 3.3378530564707717e-21
Reject the null hypothesis: Hourly wage is significantly less than $35/hour in the STREETS & SAN department.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [48]:
from scipy.stats import t 
from scipy.stats import sem

hourly_wages_all = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate'].dropna()

# Calculate the mean and standard error of hourly wages
mean_hourly_wage = hourly_wages_all.mean()
std_error_hourly_wage = sem(hourly_wages_all)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [49]:
# Your code here:

# Set the confidence level and degrees of freedom
confidence_level = 0.95
degrees_of_freedom = len(hourly_wages_all) - 1

# Compute the confidence interval using the t-distribution
conf_interval = t.interval(confidence_level, degrees_of_freedom, mean_hourly_wage, std_error_hourly_wage)

print(f"95% Confidence Interval for the Mean Hourly Wage: {conf_interval}")

95% Confidence Interval for the Mean Hourly Wage: (32.52345834488529, 33.05365708767727)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: