# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [4]:
# Your code here:
salaries=pd.read_csv("Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [5]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [6]:

# Check for missing data in each column
missing_data = salaries.isnull().sum()

# Display the result
print("Missing data in each column:")
print(missing_data)

Missing data in each column:
Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [8]:
employee_type_count = salaries['Salary or Hourly'].value_counts()

employee_type_count

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [9]:
department_employee_count = salaries.groupby('Department')['Name'].count()


print("Count of employees in each department:")
print(department_employee_count)

Count of employees in each department:
Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [10]:
from scipy.stats import ttest_1samp
# Extract hourly wages for the one-sample t-test
hourly_wages = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']

# Perform the one-sample t-test
t_stat, p_value = ttest_1samp(hourly_wages, 30)

# Display the result
print("T-statistic:", t_stat)
print("P-value:", p_value)

# Check if the p-value is less than the significance level (e.g., 0.05)
confidence_level = 0.95
alpha = 1 - confidence_level
if p_value < alpha:
    print("Reject the null hypothesis: The hourly wage is significantly different from $30/hr.")
else:
    print("Fail to reject the null hypothesis: The hourly wage is not significantly different from $30/hr.")

T-statistic: 20.6198057854942
P-value: 4.3230240486229894e-92
Reject the null hypothesis: The hourly wage is significantly different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [11]:
# Extract salaries for the one-sample t-test for the police department
police_salaries = salaries[salaries['Department'] == 'POLICE']['Annual Salary']

# Define the claimed mean from the chief
claimed_mean = 86000

# Perform the one-sample t-test
t_stat, p_value = ttest_1samp(police_salaries, claimed_mean)

# Display the result
print("T-statistic:", t_stat)
print("P-value:", p_value)

# Check if the p-value is less than the significance level (e.g., 0.05)
confidence_level = 0.95
alpha = 1 - confidence_level
if p_value / 2 < alpha and t_stat > 0:
    print("Reject the null hypothesis: Salaries in the police force are higher than $86000/year.")
else:
    print("Fail to reject the null hypothesis: Salaries in the police force are not higher than $86000/year.")

T-statistic: nan
P-value: nan
Fail to reject the null hypothesis: Salaries in the police force are not higher than $86000/year.

Using the `crosstab` function, find the department that has the most hourly workers.

In [12]:
# Use crosstab to find the department with the most hourly workers
cross_tab = pd.crosstab(salaries['Department'], salaries['Salary or Hourly'])

# Get the department with the most hourly workers
most_hourly_department = cross_tab['Hourly'].idxmax()

# Display the result
print("Department with the most hourly workers:", most_hourly_department)

Department with the most hourly workers: STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [13]:
# Extract hourly wages for the one-sample t-test for the department with the most hourly workers
most_hourly_department = 'STREETS & SAN'  
hourly_wages_most_department = salaries[(salaries['Salary or Hourly'] == 'Hourly') & (salaries['Department'] == most_hourly_department)]['Hourly Rate']

# Define the claimed mean from the workers' complaint
claimed_mean = 35

# Perform the one-sample t-test
t_stat, p_value = ttest_1samp(hourly_wages_most_department, claimed_mean)

# Display the result
print("T-statistic:", t_stat)
print("P-value:", p_value)

# Check if the p-value is less than the significance level (e.g., 0.05)
confidence_level = 0.95
alpha = 1 - confidence_level
if p_value / 2 < alpha and t_stat < 0:
    print("Reject the null hypothesis: Hourly wage is less than $35/hour in the department with the most hourly workers.")
else:
    print("Fail to reject the null hypothesis: Hourly wage is not less than $35/hour in the department with the most hourly workers.")

T-statistic: -9.567447887848152
P-value: 3.3378530564707717e-21
Reject the null hypothesis: Hourly wage is less than $35/hour in the department with the most hourly workers.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [15]:
from scipy.stats import t
# Extract hourly wages for the confidence interval calculation
hourly_wages = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']

# Calculate the mean and standard error of the mean
mean_hourly_wage = hourly_wages.mean()
standard_error = hourly_wages.sem()

# Degrees of freedom
df = len(hourly_wages) - 1

# Confidence level
confidence_level = 0.95

# Calculate the t-score for the confidence level and degrees of freedom
t_score = t.ppf((1 + confidence_level) / 2, df)

# Calculate the confidence interval
confidence_interval = t.interval(confidence_level, df, loc=mean_hourly_wage, scale=standard_error)

# Display the result
print("Confidence Interval:", confidence_interval)

Confidence Interval: (32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [17]:
from scipy.stats import norm
# Extract salaries for the confidence interval calculation
police_salaries = salaries[(salaries['Salary or Hourly'] == 'Salary') & (salaries['Department'] == 'POLICE')]['Annual Salary']

# Calculate the mean and standard deviation of the salaries
mean_salary = police_salaries.mean()
std_dev_salary = police_salaries.std()

# Sample size
sample_size = len(police_salaries)

# Confidence level
confidence_level = 0.95

# Calculate the z-score for the confidence level
z_score = norm.ppf((1 + confidence_level) / 2)

# Calculate the margin of error
margin_of_error = z_score * (std_dev_salary / (sample_size ** 0.5))

# Calculate the confidence interval
confidence_interval = (mean_salary - margin_of_error, mean_salary + margin_of_error)

# Display the result
print("Confidence Interval for Salaried Employees in Police Department:", confidence_interval)

Confidence Interval for Salaried Employees in Police Department: (86177.08425202279, 86795.74475424399)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [18]:
from statsmodels.stats.proportion import proportions_ztest

# Count the number of hourly and salaried workers
hourly_count = len(salaries[salaries['Salary or Hourly'] == 'Hourly'])
total_count = len(salaries)

# Proportion to test against
proportion_to_test = 0.25

# Perform the proportions z-test
z_stat, p_value = proportions_ztest(hourly_count, total_count, proportion_to_test, alternative='two-sided')

# Display the result
print("Z-statistic:", z_stat)
print("P-value:", p_value)

# Check if the p-value is less than the significance level (e.g., 0.05)
confidence_level = 0.95
alpha = 1 - confidence_level
if p_value < alpha:
    print("Reject the null hypothesis: The proportion of hourly workers is significantly different from 25%.")
else:
    print("Fail to reject the null hypothesis: The proportion of hourly workers is not significantly different from 25%.")

Z-statistic: -3.5099964213703005
P-value: 0.0004481127249057967
Reject the null hypothesis: The proportion of hourly workers is significantly different from 25%.