# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:

data.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:

value_counts = data['Salary or Hourly'].value_counts()
value_counts

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:

data.groupby(['Department'], dropna = False).aggregate({'Name':'count'})

                        Name
Department
ADMIN HEARNG              39
ANIMAL CONTRL             81
AVIATION                1629
BOARD OF ELECTION        107
BOARD OF ETHICS            8
BUDGET & MGMT             46
BUILDINGS                269
BUSINESS AFFAIRS         171
CITY CLERK                84
CITY COUNCIL             411
COMMUNITY DEVELOPMENT    207
COPA                     116
CULTURAL AFFAIRS          65
DISABILITIES              28
DoIT                      99
FAMILY & SUPPORT         615
FINANCE                  560
FIRE                    4641
GENERAL SERVICES         980
HEALTH                   488
HUMAN RELATIONS           16
HUMAN RESOURCES           79
INSPECTOR GEN             87
LAW                      407
LICENSE APPL COMM          1
MAYOR'S OFFICE            85
OEMC                    2102
POLICE                 13414
POLICE BOARD               2
PROCUREMENT               92
PUBLIC LIBRARY          1015
STREETS & SAN           2198
TRANSPORTN              1140
TREASURER                 22
WATER MGMNT             1879

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# Your code here:
from scipy.stats import ttest_1samp

In [8]:
#A commonly used rule of thumb suggests having a minimum sample size of 30. 
#This guideline is often applied when the population distribution is assumed to be approximately normal, and the sample is intended for basic inferential statistics 

sample_1 = data[data['Salary or Hourly']== 'Hourly']['Hourly Rate'].sample(30)

In [9]:
sample_1

12421    19.86
25372    35.60
29743    12.49
9066     28.14
1024     44.55
4722     20.12
15179    36.21
20349    48.85
25897    48.90
26449    21.98
23362    48.90
7095     14.51
31492    50.25
14841    40.20
24391    40.20
5689     13.15
5122     34.57
26621    23.31
26850    28.14
15029    35.60
3350     17.68
13646    49.10
9594     19.38
15354    19.86
9627     45.07
15636    35.60
7230     34.57
17540    49.10
32081    35.60
18045    35.60
Name: Hourly Rate, dtype: float64

In [10]:
#H0: \mu_1 == 30
#H1 \mu_1 != 30

In [11]:
h0 = 30
st.ttest_1samp(sample_1,h0)

TtestResult(statistic=1.2975300587942509, pvalue=0.20467590626852106, df=29)

In [13]:
alpha = 0.05  #for a 95% two sided confidence interval
alpha_per_tail = alpha / 2
alpha_per_tail

0.025

In [28]:
#P is 0.20, Fail to reject null hyphotesis

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [14]:
# Your code here:

sample_2 = data[data['Salary or Hourly']== 'Salary']['Annual Salary'].sample(30)

In [15]:
sample_2

21070     87006.0
12605    100776.0
3668      93354.0
13048     90024.0
20410     90024.0
5423      77484.0
1859     111474.0
1798     124728.0
13470     90024.0
12478     48078.0
1255      48078.0
17813     91272.0
2337      95484.0
14986    165000.0
9542      49104.0
20693     90024.0
21437     92274.0
20964     52176.0
17148     96060.0
3267     107988.0
27197    106596.0
1037      93354.0
29553     91080.0
32471     92274.0
24362     97386.0
15878    112854.0
1477      66948.0
18845     52320.0
20860     68616.0
9496     123894.0
Name: Annual Salary, dtype: float64

In [16]:
h0 = 86000
st.ttest_1samp(sample_2,h0,alternative='greater')

TtestResult(statistic=0.8963592270145543, pvalue=0.18872086850281916, df=29)

In [26]:
alpha = 0.05  #for a 95% one sided confidence interval
#P is 0.19, Fail to reject null hyphotesis

Using the `crosstab` function, find the department that has the most hourly workers.

In [22]:
# Your code here:

cross_tab = pd.crosstab(data['Department'], data['Salary or Hourly'])
cross_tab = cross_tab.sort_values(by='Hourly',ascending=False)
cross_tab

Salary or Hourly       Hourly  Salary
Department
STREETS & SAN            1862     336
WATER MGMNT              1513     366
OEMC                     1273     829
AVIATION                 1082     547
GENERAL SERVICES          765     215
TRANSPORTN                725     415
PUBLIC LIBRARY            299     716
FAMILY & SUPPORT          287     328
CITY COUNCIL               64     347
FINANCE                    44     516
LAW                        40     367
ANIMAL CONTRL              19      62
POLICE                     10   13404
MAYOR'S OFFICE              8      77
BUSINESS AFFAIRS            7     164
CULTURAL AFFAIRS            7      58
COMMUNITY DEVELOPMENT       4     203
HUMAN RESOURCES             4      75
HEALTH                      3     485
PROCUREMENT                 2      90
FIRE                        2    4639
BUDGET & MGMT               2      44
HUMAN RELATIONS             0      16
INSPECTOR GEN               0      87
DoIT                        0      99
LICENSE APPL COMM           0       1
DISABILITIES                0      28
COPA                        0     116
CITY CLERK                  0      84
POLICE BOARD                0       2
BUILDINGS                   0     269
BOARD OF ETHICS             0       8
BOARD OF ELECTION           0     107
TREASURER                   0      22
ADMIN HEARNG                0      39

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [24]:
# Your code here:

sample_3 = data[(data['Department']== 'STREETS & SAN') & (data['Salary or Hourly']== 'Hourly')]['Hourly Rate'].sample(30)
sample_3

18084    36.21
31190    35.60
7715     35.60
8969     20.12
16330    36.13
3535     36.21
19796    36.21
23309    35.60
3123     20.77
26221    37.25
23725    44.55
8694     19.50
5898     20.12
19444    19.50
32133    35.60
25464    36.21
28953    37.56
29021    35.60
9732     37.56
9476     20.77
5087     36.21
3800     36.21
5148     35.60
31203    36.21
18640    36.21
1717     35.60
4616     35.60
9745     35.60
13372    36.21
9833     22.12
Name: Hourly Rate, dtype: float64

In [25]:
h0 = 35
st.ttest_1samp(sample_2,h0,alternative='less')

TtestResult(statistic=19.278801364117015, pvalue=1.0, df=29)

In [29]:
alpha = 0.05  #for a 95% one sided confidence interval
#P is 1, Fail to reject null hyphotesis

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [34]:
sample_4 = data[data['Salary or Hourly']== 'Hourly']['Hourly Rate'].sample(30)
sample_4

21273    49.37
20275    35.60
30962    46.10
10651    25.10
9647     35.60
14763    15.65
399      44.25
5800     22.88
11256    25.10
32127    15.65
25545    40.20
26319    17.68
21741    46.10
13164    35.60
21631     8.25
20318    40.20
15932    40.20
19983    15.94
32207    19.86
20801    35.60
33145    35.57
26083    35.60
10071    36.21
10113    45.35
21791    20.88
17136    13.94
26985    45.07
20061    19.38
23043     2.65
24272    15.65
Name: Hourly Rate, dtype: float64

In [35]:
# Your code here:


# Compute sample statistics
sample_mean = np.mean(sample_4)
sample_std = np.std(sample_4)
sample_size = len(sample_4)

# Compute standard error
standard_error = sample_std / np.sqrt(sample_size)

# Compute confidence interval
confidence_level = 0.95
degrees_of_freedom = sample_size - 1
confidence_interval = st.t.interval(confidence_level, degrees_of_freedom, loc=sample_mean, scale=standard_error)

print(f"Confidence Interval: {confidence_interval}")

Confidence Interval: (24.718752282526996, 34.29658105080636)

In [36]:
#we are 95% confident that the true value of the parameter lies within this range.

In [37]:
hourly_wages = (data[data['Salary or Hourly']== 'Hourly']['Hourly Rate']).mean()
hourly_wages

32.78855771628128

In [38]:
#after testing it, we see the value is in fact in the range.

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [39]:
# Your code here:

sample_5 = data[(data['Department']== 'POLICE') & (data['Salary or Hourly']== 'Salary')]['Annual Salary'].sample(30)
sample_5

7351      87006.0
6964     111252.0
23457     87006.0
15799     48078.0
24083     87006.0
6156      96060.0
27875     93354.0
24830     90024.0
18028     80016.0
11083     90024.0
4798     120252.0
1048      40392.0
18737     97440.0
21478     48078.0
31612    104628.0
5264      90024.0
20308     93354.0
29634     90024.0
12669    104628.0
15066     93354.0
3011      93354.0
10598     93354.0
2309      90024.0
2436      72510.0
7500      80016.0
10347     90024.0
32441     90024.0
30121    103932.0
16136     84054.0
3222      93354.0
Name: Annual Salary, dtype: float64

In [40]:
# Compute sample statistics
sample_mean = np.mean(sample_5)
sample_std = np.std(sample_5)
sample_size = len(sample_5)

# Compute standard error
standard_error = sample_std / np.sqrt(sample_size)

# Compute confidence interval
confidence_level = 0.95
degrees_of_freedom = sample_size - 1
confidence_interval = st.t.interval(confidence_level, degrees_of_freedom, loc=sample_mean, scale=standard_error)

print(f"Confidence Interval: {confidence_interval}")

Confidence Interval: (81772.52497093234, 94403.87502906765)

In [41]:
anual_salaries_police = (data[data['Salary or Hourly']== 'Salary']['Annual Salary']).mean()
anual_salaries_police

86786.99979015153

In [ ]:
#after testing it, we see the value is in fact in the range.

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: