# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [3]:
salaries = pd.read_csv("Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [4]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [6]:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [7]:
salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [18]:
!pip install --upgrade scipy

Requirement already satisfied: scipy in /Users/gonzalo/anaconda3/lib/python3.11/site-packages (1.10.1)
Collecting scipy
  Obtaining dependency information for scipy from https://files.pythonhosted.org/packages/21/d4/e6c57acc61e59cd46acca27af1f400094d5dee218e372cc604b8162b97cb/scipy-1.12.0-cp311-cp311-macosx_12_0_arm64.whl.metadata
  Downloading scipy-1.12.0-cp311-cp311-macosx_12_0_arm64.whl.metadata (165 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 165.4/165.4 kB 9.2 MB/s eta 0:00:00
Requirement already satisfied: numpy<1.29.0,>=1.22.4 in /Users/gonzalo/anaconda3/lib/python3.11/site-packages (from scipy) (1.24.3)
Downloading scipy-1.12.0-cp311-cp311-macosx_12_0_arm64.whl (31.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 31.4/31.4 MB 33.2 MB/s eta 0:00:0000:0100:01
Installing collected packages: scipy
  Attempting uninstall: scipy
    Found existing installation: scipy 1.10.1
    Uninstalling scipy-1.10.1:
      Successfully uninstalled scipy-1.10.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
gensim 4.3.0 requires FuzzyTM>=0.4.0, which is not installed.
Successfully installed scipy-1.12.0

In [23]:
from scipy.stats import ttest_1samp

In [25]:
#H0: \mu_1 = 30$/hr, H1 \mu_1 != 30$/hr
hourly = salaries[salaries['Salary or Hourly']=="Hourly"]['Hourly Rate']
hourly

t_stat, p_value = ttest_1samp(hourly, 30)

print(f'T-statistic: {t_stat}, p-value: {p_value}')

T-statistic: 20.6198057854942, p-value: 4.3230240486229894e-92

In [26]:
#p-value is lower than 0.05 so we reject the null hypothesis, so there is evidence that the hourly wage of 
#all hourly workers is significantly different from $30/hr

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [35]:
#H0: \mu_1 <= $86000/year, H1 \mu_1 > $86000/year
salaries_police = salaries[salaries['Department']=="POLICE"]['Hourly Rate']

salaries_police = salaries_police.dropna()

t_stat, p_value = ttest_1samp(salaries_police, 86000.0, alternative='greater')

print(f'T-statistic: {t_stat}, p-value: {p_value}')

T-statistic: 3.081997005712994, p-value: 0.0010301701775482577

Using the `crosstab` function, find the department that has the most hourly workers.

In [40]:
cross_tab = pd.crosstab(salaries['Department'], salaries['Salary or Hourly'])

hourly_workers = cross_tab['Hourly']

department_most_hourly = hourly_workers.idxmax()

department_most_hourly

'STREETS & SAN'

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [42]:
# Your code here:

salaries_streetssan = salaries[salaries['Department']=="STREETS & SAN"]['Annual Salary']

salaries_streetssan = salaries_streetssan.dropna()

t_stat, p_value = ttest_1samp(salaries_streetssan, 35.0, alternative='less')

print(f'T-statistic: {t_stat}, p-value: {p_value}')

T-statistic: 71.56561089359087, p-value: 1.0

In [ ]:
#We cannot reject the null, so there is no evidence that the hourly wage of 
#all streets and san hourly workers is significantly less than $35/hour

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [48]:
from scipy.stats import t

hourly_wage_workers=salaries[salaries['Salary or Hourly']=="Hourly"]['Hourly Rate']

hourly_wage_workers

4        19.86
6        46.10
7        35.60
10        2.65
18       17.68
         ...
33164    46.10
33168    17.68
33169    35.60
33174    46.35
33175    48.85
Name: Hourly Rate, Length: 8022, dtype: float64

In [49]:
hourly_wage_workers.isnull().sum()

0

In [50]:
# Calculate mean and standard error
mean_hourly_wage = hourly_wage_workers.mean()
std_error_hourly_wage = np.std(hourly_wage_workers, ddof=1) / np.sqrt(len(hourly_wage_workers))

# Confidence level and degrees of freedom
confidence_level = 0.95
degrees_of_freedom = len(hourly_wage_workers) - 1

# Calculate the confidence interval
conf_interval = t.interval(confidence_level, degrees_of_freedom, mean_hourly_wage, std_error_hourly_wage)

print(f"95% Confidence Interval for Mean Hourly Wage: {conf_interval}")

95% Confidence Interval for Mean Hourly Wage: (32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [51]:
# Your code here:

salaried_police = salaries[(salaries['Salary or Hourly'] == "Salary") & (salaries['Department'] == "POLICE")]['Annual Salary']

In [52]:
#Mean and standard error
mean_salary_police = salaried_police.mean()
std_error_salary_police = np.std(salaried_police, ddof=1) / np.sqrt(len(salaried_police))

#Confidence level and degrees of freedom
confidence_level = 0.95
degrees_of_freedom = len(salaried_police) - 1

#Confidence interval
conf_interval_salary_police = t.interval(confidence_level, degrees_of_freedom, mean_salary_police, std_error_salary_police)

print(f"95% Confidence Interval for Mean Annual Salary in Police Department: {conf_interval_salary_police}")

95% Confidence Interval for Mean Annual Salary in Police Department: (86177.05631531785, 86795.77269094893)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [57]:
from statsmodels.stats.proportion import proportions_ztest

hourly_count = salaries[salaries['Salary or Hourly'] == 'Hourly'].shape[0]

hourly_count

8022

In [60]:
# Total number of workers
total_count = salaries.shape[0]

total_count

33183

In [58]:
# Total number of workers
total_count = salaries.shape[0]

# Proportion
null_proportion = 0.25

# Hypothesis test
z_stat, p_value = proportions_ztest(hourly_count, total_count, value=null_proportion, alternative='two-sided')

print(f'Z-statistic: {z_stat}, p-value: {p_value}')

Z-statistic: -3.5099964213703005, p-value: 0.0004481127249057967

In [ ]:
#The proportion of hourly workers in the City of Chicago is significantly different from 25% at a 95% confidence level