# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [83]:
# import numpy and pandas
import numpy as np
import pandas as pd
import scipy.stats as st

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [10]:
# Your code here:
salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [11]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [19]:
salaries.shape

(33183, 8)

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [12]:
# Your code here:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [26]:
salaries['Annual Salary'].count()

25161

In [27]:
salaries['Hourly Rate'].count()

8022

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [32]:
# Your code here:
salaries.groupby(['Department']).agg({'Job Titles':'count'}).reset_index().sort_values(by='Job Titles')

               Department  Job Titles
24      LICENSE APPL COMM           1
28           POLICE BOARD           2
4         BOARD OF ETHICS           8
20        HUMAN RELATIONS          16
33              TREASURER          22
13           DISABILITIES          28
0            ADMIN HEARNG          39
5           BUDGET & MGMT          46
12       CULTURAL AFFAIRS          65
21        HUMAN RESOURCES          79
1           ANIMAL CONTRL          81
8              CITY CLERK          84
25         MAYOR'S OFFICE          85
22          INSPECTOR GEN          87
29            PROCUREMENT          92
14                   DoIT          99
3       BOARD OF ELECTION         107
11                   COPA         116
7        BUSINESS AFFAIRS         171
10  COMMUNITY DEVELOPMENT         207
6               BUILDINGS         269
23                    LAW         407
9            CITY COUNCIL         411
19                 HEALTH         488
16                FINANCE         560
15       FAMILY & SUPPORT         615
18       GENERAL SERVICES         980
30         PUBLIC LIBRARY        1015
32             TRANSPORTN        1140
2                AVIATION        1629
34            WATER MGMNT        1879
26                   OEMC        2102
31          STREETS & SAN        2198
17                   FIRE        4641
27                 POLICE       13414

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [39]:
hourly_workers=salaries['Hourly Rate'].dropna()
hourly_workers

4        19.86
6        46.10
7        35.60
10        2.65
18       17.68
         ...
33164    46.10
33168    17.68
33169    35.60
33174    46.35
33175    48.85
Name: Hourly Rate, Length: 8022, dtype: float64

In [40]:
# Your code here:
from scipy.stats import ttest_1samp

ttest_1samp(hourly_workers, 30)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

In [42]:
np.mean(hourly_workers)

32.78855771628128

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [46]:
# Your code here:
police_salaries = salaries[salaries['Department']=='POLICE']['Annual Salary'].dropna()
police_salaries

0        101442.0
1         94122.0
9         93354.0
11        84054.0
12        87006.0
           ...
33177     72510.0
33178     72510.0
33179     48078.0
33180     90024.0
33181     93354.0
Name: Annual Salary, Length: 13404, dtype: float64

In [48]:
ttest_1samp(police_salaries, 86000, alternative='less')

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.9989698298224517)

In [49]:
np.mean(police_salaries)

86486.41450313339

Using the `crosstab` function, find the department that has the most hourly workers.

In [73]:
# Your code here:
pd.crosstab(index=salaries['Department'], columns=salaries['Salary or Hourly']).reset_index().sort_values(by='Hourly', ascending=False)

Salary or Hourly             Department  Hourly  Salary
31                        STREETS & SAN    1862     336
34                          WATER MGMNT    1513     366
26                                 OEMC    1273     829
2                              AVIATION    1082     547
18                     GENERAL SERVICES     765     215
32                           TRANSPORTN     725     415
30                       PUBLIC LIBRARY     299     716
15                     FAMILY & SUPPORT     287     328
9                          CITY COUNCIL      64     347
16                              FINANCE      44     516
23                                  LAW      40     367
1                         ANIMAL CONTRL      19      62
27                               POLICE      10   13404
25                       MAYOR'S OFFICE       8      77
7                      BUSINESS AFFAIRS       7     164
12                     CULTURAL AFFAIRS       7      58
10                COMMUNITY DEVELOPMENT       4     203
21                      HUMAN RESOURCES       4      75
19                               HEALTH       3     485
29                          PROCUREMENT       2      90
17                                 FIRE       2    4639
5                         BUDGET & MGMT       2      44
20                      HUMAN RELATIONS       0      16
22                        INSPECTOR GEN       0      87
14                                 DoIT       0      99
24                    LICENSE APPL COMM       0       1
13                         DISABILITIES       0      28
11                                 COPA       0     116
8                            CITY CLERK       0      84
28                         POLICE BOARD       0       2
6                             BUILDINGS       0     269
4                       BOARD OF ETHICS       0       8
3                     BOARD OF ELECTION       0     107
33                            TREASURER       0      22
0                          ADMIN HEARNG       0      39

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [74]:
# Your code here:
streets_salaries = salaries[salaries['Department']=='STREETS & SAN']['Hourly Rate'].dropna()
streets_salaries

7        35.60
21       21.43
24       35.60
36       36.21
39       35.60
         ...
33106    36.13
33107    35.60
33147    35.60
33149    36.21
33156    22.12
Name: Hourly Rate, Length: 1862, dtype: float64

In [75]:
ttest_1samp(streets_salaries, 35, alternative='greater')

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=1.0)

In [76]:
np.mean(streets_salaries)

33.728378088076845

In [81]:
np.std(streets_salaries)

5.733701558944117

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [84]:
# Your code here:
from scipy.stats import t
st.t.interval(0.95,1862-1,loc=np.mean(streets_salaries), scale=np.std(streets_salaries)/np.sqrt(1862))

(33.46777720462219, 33.9889789715315)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [87]:
# Your code here:
salaried_police = salaries[(salaries['Department']=='POLICE') & (salaries['Salary or Hourly']=='Salary')]['Annual Salary'].dropna()
salaried_police

0        101442.0
1         94122.0
9         93354.0
11        84054.0
12        87006.0
           ...
33177     72510.0
33178     72510.0
33179     48078.0
33180     90024.0
33181     93354.0
Name: Annual Salary, Length: 13404, dtype: float64

In [88]:
st.t.interval(0.95,13404-1,loc=np.mean(salaried_police), scale=np.std(salaried_police)/np.sqrt(13404))

(86177.06785530434, 86795.76115096244)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: