# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:

salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:

salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:

salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:

salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:

salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [41]:
# Your code here:

import scipy.stats as st

'''
H0: Hourly wage = $30/hr
H1: Hourly wage != $30/hr
n: sample size (for example, 20% of the all hourly workers)
'''

n_hw = int(8022*0.20)

sample_hw = salaries[salaries['Salary or Hourly']=='Hourly']['Hourly Rate'].sample(n_hw)

st.ttest_1samp(sample_hw,30)

Ttest_1sampResult(statistic=8.689368837071934, pvalue=8.830962315097809e-18)

In [8]:
'''The pvalue is lower than 5% so we can reject the null hypothesis'''

'The pvalue is lower than 5% so we can reject the null hypothesis'

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [44]:
# Your code here:

'''
H0: Annual salary >= $86000/year
H1: Annual salary < $86000/year
n: sample size (for example, 20% of the police workers)

Need to be sure that all the POLICE workers have annual salary, in the next cell we can see that there are 10 wor
'''

n_as = int(13404*0.20)

sample_as = salaries[(salaries['Department']=='POLICE') & (salaries['Salary or Hourly']=='Salary')]['Annual Salary'].sample(n_as)

display(st.ttest_1samp(sample_as,86000,alternative='less'))

'''The p value is significantly higher than 5% so we cannot reject the null hypothesis'''

Ttest_1sampResult(statistic=1.9486253152956468, pvalue=0.9742777742798513)

'The p value is significantly higher than 5% so we cannot reject the null hypothesis'

In [13]:
display(salaries[salaries['Department']=='POLICE']['Salary or Hourly'].value_counts())
display(salaries[(salaries['Department']=='POLICE') & (salaries['Salary or Hourly']=='Hourly')])

Salary    13404
Hourly       10
Name: Salary or Hourly, dtype: int64

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
1811,"BEAN, VAUGHN",PROGRAM AIDE,POLICE,P,Hourly,20.0,NaN,9.27
3261,"BROWN, RONNIE",PROGRAM AIDE,POLICE,P,Hourly,20.0,NaN,9.27
4991,"CIPUN, CHRISTINA M",PROGRAM AIDE,POLICE,P,Hourly,20.0,NaN,9.46
9952,"GARCIA, ROBERT",POLICE CADET,POLICE,P,Hourly,20.0,NaN,9.46
11580,"HAGUE, JACKSON",PROGRAM AIDE,POLICE,P,Hourly,20.0,NaN,9.27
19135,"MCMILLON, MALIK M",PROGRAM AIDE,POLICE,P,Hourly,20.0,NaN,9.46
20104,"MOORE, KEMON J",PROGRAM AIDE,POLICE,P,Hourly,20.0,NaN,9.46
20159,"MORALES, ALBA M",POLICE CADET,POLICE,P,Hourly,20.0,NaN,9.46
24060,"RAMIREZ, JAMIE",PROGRAM AIDE,POLICE,P,Hourly,20.0,NaN,9.27
30174,"TYLER, JUSTIN",PROGRAM AIDE,POLICE,P,Hourly,20.0,NaN,9.46

Using the `crosstab` function, find the department that has the most hourly workers.

In [27]:
# Your code here:

pd.crosstab(salaries['Department'],salaries['Salary or Hourly']).sort_values(by='Hourly',ascending=False).head(1).reset_index()

Salary or Hourly     Department  Hourly  Salary
0                 STREETS & SAN    1862     336

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [66]:
# Your code here:

'''
H0: Hourly wage < $35/hour
H1: Hourly wage > $35/hour
n: sample size (for example, 20% of the hourly workers of the department STREETS & SAN)

'''

n_hr = int(1862*0.20)

sample_hr = salaries[(salaries['Department']=='STREETS & SAN') & (salaries['Salary or Hourly']=='Hourly')]['Hourly Rate'].sample(n_hr)

display(st.ttest_1samp(sample_hr,35,alternative='greater'))

'''The p value is significantly higher than 5% so we cannot reject the null hypothesis'''

Ttest_1sampResult(statistic=-4.615850280755525, pvalue=0.9999972986838507)

'The p value is significantly higher than 5% so we cannot reject the null hypothesis'

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [75]:
# Your code here:

nhw = int(salaries[salaries['Salary or Hourly']=='Hourly']['Salary or Hourly'].value_counts()*0.20)

sample_hourly_wage = salaries[salaries['Salary or Hourly']=='Hourly']['Hourly Rate'].sample(nhw)

st.t.interval(alpha=0.95, df=len(sample_hourly_wage)-1, loc=np.mean(sample_hourly_wage), scale=st.sem(sample_hourly_wage))

(32.20429803515216, 33.37534036883724)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [87]:
# Your code here:

nsa = int(salaries[(salaries['Department']=='POLICE') & (salaries['Salary or Hourly']=='Salary')]['Salary or Hourly'].value_counts()*0.20)

sample_police_salary = salaries[(salaries['Department']=='POLICE') & (salaries['Salary or Hourly']=='Salary')]['Annual Salary'].sample(nsa)

st.t.interval(alpha=0.95, df=len(sample_police_salary)-1, loc=np.mean(sample_police_salary), scale=st.sem(sample_police_salary))

(85541.68585733781, 86954.10518743831)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [113]:
# Your code here:

# import library
from statsmodels.stats.proportion import proportions_ztest

In [114]:
nobs = salaries['Name'].count()

counted = int(salaries[salaries['Salary or Hourly']=='Hourly']['Salary or Hourly'].value_counts())

value = 0.25

proportions_ztest(count=counted, nobs=nobs, value=value)

(-3.5099964213703005, 0.0004481127249057967)