# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [3]:
chicago_data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')
chicago_data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

Examine the `salaries` dataset using the `head` function below.

In [4]:
chicago_data['Annual Salary'].head()

0    101442.0
1     94122.0
2    101592.0
3    110064.0
4         NaN
Name: Annual Salary, dtype: float64

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
chicago_data.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [9]:
chicago_data['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [10]:
chicago_data['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [12]:
import scipy.stats as st

sample_1 = chicago_data[chicago_data['Salary or Hourly']=='Hourly']['Hourly Rate']
sample_1.head(30)

#HO: hourly wage = $30/hr
#H1: hourly wage != $30/hr

st.ttest_1samp(sample_1, 30)
# The P value is very low, H0 hypothesis rejected

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [14]:
sample_3 = chicago_data[(chicago_data['Department']=='POLICE') & (chicago_data['Annual Salary'].isnull() == False)]['Annual Salary'].sample(30)
sample_3

# HO: Annual salary = 86000
# H1: Annual salary > 86000
st.ttest_1samp(sample_3, 86000, alternative ='greater')
# The P value is very high, H0 hypothesis cannot be rejected

Ttest_1sampResult(statistic=1.0980736170541159, pvalue=0.14060302605047498)

Using the `crosstab` function, find the department that has the most hourly workers.

In [15]:
hourly_workers = pd.crosstab(chicago_data['Department'], chicago_data['Salary or Hourly'])
hourly_workers[hourly_workers['Hourly'] == hourly_workers['Hourly'].max()]

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [16]:
st.ttest_1samp(chicago_data[(chicago_data['Department'] == 'STREETS & SAN') & 
                            (chicago_data['Hourly Rate'].isnull() == False)]['Hourly Rate'].sample(100), 35)

#H0 The pvalue is very low, we can reject H0 hypothesis

Ttest_1sampResult(statistic=-2.078239871933247, pvalue=0.040274114077928275)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [17]:
hourly_wages = chicago_data.loc[(chicago_data['Hourly Rate'].isnull() == False), 'Hourly Rate']
sample_mean = np.mean(hourly_wages)
sample_error = st.sem(hourly_wages)
st.t.interval(.95, loc=sample_mean, scale=sample_error, df= len(hourly_wages)-1)

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [18]:
annual_wages = chicago_data.loc[(chicago_data['Hourly Rate'].isnull() == True), 'Annual Salary']
sample_mean = np.mean(annual_wages)
sample_error = st.sem(annual_wages)
st.t.interval(.95, loc=sample_mean, scale=sample_error, df= len(annual_wages)-1)

(86526.99656774197, 87047.0030125611)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [21]:
from statsmodels.stats.proportion import proportions_ztest

nobs = chicago_data['Name'].count()

count = int(chicago_data[chicago_data['Salary or Hourly']=='Hourly']['Salary or Hourly'].value_counts())

value = 0.25

proportions_ztest(count=count, nobs=nobs, value=value)

(-3.5099964213703005, 0.0004481127249057967)