# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [3]:
# Your code here:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [4]:
# Your code here:
data.head(10)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
8,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,103350.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [6]:
# Your code here:
null_values = data.isnull().sum()
null_values

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [8]:
# Your code here:
data['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [11]:
# Your code here:
data['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [17]:
# Your code here:
from scipy.stats import ttest_1samp
hyp_0 = 30
hourly_wage = data[data['Salary or Hourly'] == 'Hourly']['Hourly Rate'].dropna()

t_statistic, p_value = ttest_1samp(hourly_wage, hyp_0)
print(f"T-Statistic: {t_statistic}")
print(f"P-Value: {p_value}")

alpha = 0.05
if p_value < alpha:
    print("Rechazamos la hipótesis nula.Hay dif. signifiticativas respecto al valor $30/hora")
else:
    print("No hay evidencia para rechazar la hipótesis nula.")

T-Statistic: 20.6198057854942
P-Value: 4.3230240486229894e-92
Rechazamos la hipótesis nula.Hay dif. signifiticativas respecto al valor $30/hora

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [24]:
# Your code here:
hyp_0_police = 86000
police_salary = data[(data['Department'] == 'POLICE') & (data['Salary or Hourly'] == 'Salary')]['Annual Salary'].dropna()

t_statistic, p_value = ttest_1samp(police_salary, hyp_0_police, alternative='greater')



print(f"T-Statistic: {t_statistic}")
print(f"P-Value: {p_value}")

alpha = 0.05
if p_value < alpha:
    print('Hipotesis nula <=86.000$')
    print("Rechazamos la hipótesis nula. La media de los salarios si es superior a 86.000$")
else:
    print('Hipotesis nula <=86.000$')
    print("No hay evidencia para rechazar la hipótesis nula")

police_salary.mean()

T-Statistic: 3.081997005712994
P-Value: 0.0010301701775482569
Hipotesis nula <=86.000$
Rechazamos la hipótesis nula. La media de los salarios si es superior a 86.000$

86486.41450313339

Using the `crosstab` function, find the department that has the most hourly workers.

In [25]:
# Your code here:
cross_table = pd.crosstab(data['Department'], data['Salary or Hourly'])

print(cross_table['Hourly'].idxmax())

STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [31]:
# Your code here:
hyp_0_streets = 35
streets_hourly_rate = data[data['Department']=='STREETS & SAN']['Hourly Rate'].dropna()
t_statistic, p_value = ttest_1samp(streets_hourly_rate, hyp_0_streets, alternative='less')
print(f"T-Statistic: {t_statistic}")
print(f"P-Value: {p_value}")

alpha = 0.05
if p_value < alpha:
    print('Hipotesis nula >=35$/hora')
    print("Rechazamos la hipótesis nula. El precio medio la hora si es inferior a 35$")
else:
    print('Hipotesis nula >=35$/hora')
    print("No hay evidencia para rechazar la hipótesis nula")

streets_hourly_rate.mean()

T-Statistic: -9.567447887848152
P-Value: 1.6689265282353859e-21
Hipotesis nula >=35$/hora
Rechazamos la hipótesis nula. El precio medio la hora si es inferior a 35$

33.728378088076845

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [36]:
# Your code here:
from scipy.stats import t
hourly_workers = data['Hourly Rate'].dropna()
mean_hourly_wage = np.mean(hourly_workers)
std_dev_hourly_wage = np.std(hourly_workers, ddof=1)
confidence_level = 0.95
# Calculate the margin of error
margin_of_error = t.ppf((1 + confidence_level) / 2, len(hourly_workers) - 1) * (std_dev_hourly_wage / np.sqrt(len(hourly_workers)))

# Calculate the confidence interval
confidence_interval = (mean_hourly_wage - margin_of_error, mean_hourly_wage + margin_of_error)

# Print the results
print(f"95% Confidence Interval for Mean Hourly Wage: {confidence_interval}")

95% Confidence Interval for Mean Hourly Wage: (32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [37]:
# Your code here:

salary_workers = data['Annual Salary'].dropna()
mean_salary_wage = np.mean(salary_workers)
std_dev_wage = np.std(salary_workers, ddof=1)
confidence_level = 0.95
# Calculate the margin of error
margin_of_error = t.ppf((1 + confidence_level) / 2, len(salary_workers) - 1) * (std_dev_wage / np.sqrt(len(salary_workers)))

# Calculate the confidence interval
confidence_interval = (mean_salary_wage - margin_of_error, mean_salary_wage + margin_of_error)

# Print the results
print(f"95% Confidence Interval for Mean Salary Wage: {confidence_interval}")

95% Confidence Interval for Mean Salary Wage: (86526.99656774198, 87047.00301256108)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [40]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

# Hourly workers and total workers:
observed_hourly_workers = len(data[data['Salary or Hourly']=='Hourly'])
total_workers = len(data)

# Hypothesized proportion (25%)
hyp_proportion = 0.25

# Perform proportions z-test
z_statistic, p_value = proportions_ztest(observed_hourly_workers, total_workers, value=hyp_proportion, alternative='two-sided')

# Print the results
print(f"Z-Statistic: {z_statistic}")
print(f"P-Value: {p_value}")

# Compare p-value to significance level (e.g., 0.05)
alpha = 0.05
if p_value < alpha:
    print('Hipotesis nula proporcion de trabajadores por hora del 25%')
    print("Rechazamos hipotesis nula.")
else:
    print("No hay evidencias para rechazar la hipotesis.")

Z-Statistic: -3.5099964213703005
P-Value: 0.0004481127249057967
Hipotesis nula proporcion de trabajadores por hora del 25%
Rechazamos hipotesis nula.

In [41]:
data['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

In [42]:
8022/(8022+25161)

0.24175029382515142